@font-face {
    font-family: aeonik-bold;
    src: url(/Fonts/Aeonik-Bold.ttf);
}
@font-face {
    font-family: aeonik-medium;
    src: url(/Fonts/Aeonik-Medium.ttf);
}
@font-face {
    font-family: aeonik-regular;
    src: url(/Fonts/Aeonik-Regular.ttf);
}

:root{
    --pri:#F8F4E1;
    --sec:#381c0a;
    --tri1:#FEBA17;
    --tri2:#74512D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}


.main{
    width: 100%;
    height: 100%;
    background-color: var(--sec);
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #74512D;
}
section.allElems{
    width: 100%;
    height: 100%;
    padding: 40px;
    margin-top: 40px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;        
}

.elem{
    background-color: var(--tri1);
    height: 60%;
    width: 19%;
    border-radius: 20px;
    font-size: 30px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.elem h2{
    position: absolute;
    bottom: 3%;
    color: #F8F4E1; 
    right: 5%;
    font-size: 30px;
}
.elem:active{
    scale: 0.97;
}
.fullElems{
    width: 100%;
    height: 100%;
    background-color: #381c0a;
    /* padding: 40px; */
    font-size: 60px;
    display: none;
    position: absolute;
    color: #F8F4E1;
}

.backbtn{
    position: absolute;
    right: 5%;
    background-color: red;
    padding: 10px 20px;
    border:none ;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}
.backbtn:active{
    scale: 0.97;
}