@font-face {
    font-family: aeonik-bold;
    src: url(/Fonts/Aeonik-Bold.ttf);
}
@font-face {
    font-family: aeonik-medium;
    src: url(/Fonts/Aeonik-Medium.ttf);
}
@font-face {
    font-family: aeonik-regular;
    src: url(/Fonts/Aeonik-Regular.ttf);
}

:root{
    --pri:#F8F4E1;
    --sec:#381c0a;
    --tri1:#FEBA17;
    --tri2:#74512D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}


.main{
    width: 100%;
    height: 100%;
    background-color: var(--sec);
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #74512D;
}
section.allElems{
    width: 100%;
    height: 100%;
    padding: 40px;
    margin-top: 40px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;        
}

.elem{
    background-color: var(--tri1);
    height: 60%;
    width: 19%;
    border-radius: 20px;
    font-size: 30px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.elem h2{
    position: absolute;
    bottom: 3%;
    color: #F8F4E1; 
    right: 5%;
    font-size: 30px;
}
.elem:active{
    scale: 0.97;
}
.fullElems{
    width: 100%;
    height: 100%;
    background-color: #381c0a;
    padding: 40px;
    font-size: 40px;
    display: none;
    position: absolute;
    color: #F8F4E1;
}

.backbtn{
    position: absolute;
    right: 5%;
    background-color: red;
    padding: 10px 20px;
    border:none ;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    top: 6%;
}
.backbtn:active{
    scale: 0.97;
}

.todo-list-fullpage{
      display: block;
}

.todo-list-fullpage .todo-container{
    width: 100%;
    height: 80%;
    margin-top: 30px;
    background-color: var(--sec);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 10px;
   
}

.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 30px 20px;
}   

.todo-container .addTask form #task-input{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    margin-bottom:20px ;

}

.todo-container .addTask form textarea{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom:20px ;
}

.todo-container .addTask form button{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom:20px ;
    color: #F8F4E1;
    font-family: aeonik-bold;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.task h5{
    color: var(--sec);
    font-size: 25px;
    font-family: aeonik-bold;
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.task h5 span{
    background-color: red;
    color: var(--pri);
    padding: 4px 6px;
    border-radius: 50px;
    font-size: 10px;
}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: var(--pri);
    font-size: 18px;
    font-weight: 700;
    font-family: aeonik-bold;
}

.mark-imp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    padding: 10px 12px;
    margin-bottom: 20px;
    gap: 15px;
}
.mark-imp #check{
    scale: 2;
}
.mark-imp label{
    font-size: 25px;
}